<main class="page-content">
  <div class="page-inner">
      <div id="main-wrapper">
          <div class="row">
            <div class="col-md-12">
                <section class="panel tasks-widget">
                    <header class="panel-heading">
                        DANH SÁCH CÁC NODE  
                    </header>
                    <div class="panel-body">

                        <div class="task-content">

                            <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th>ID</th>
                                  <th>Nodes</th>
                                  <th>Last update</th>
                                </tr>
                              </thead>

                              
                                <tr class="task-title" ng-repeat="note in notes">
                                  <td>
                                    {{ note.id }}
                                  </td>
                                  <td class="task-title-sp">
                                    <a href="#/nodes/{{ note.id }}">{{ note.title }}</a>
                                  </td>
                                  <td>
                                    {{ note.updated }}
                                  </td>
                                </tr>
                              
                            </table>

                        </div>

                        <div class="add-task-row">
                          <input type="text" class="form-control nodes" placeholder="Write something ...">
                          <a class="btn btn-info btn-sm pull-left" href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Node</a>
                        </div>
                    </div>
                </section>
            </div>
        </div><!-- Row -->
      </div><!-- Main Wrapper -->
  </div><!-- Page Inner -->
</main><!-- Page Content -->