<main class="page-content">
        <div class="page-inner">
            <div id="main-wrapper">
                <div class="row">
                    <div class="col-md-3 center">
                        <div class="login-box">
                            <a href="index.html" class="logo-name text-lg text-center">ToDoList</a>
                            <p class="text-center m-t-md">Create a Todolist's account</p>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Name" required ng-model="username">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email" required ng-model="email">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password" required ng-model="password">
                                </div>
                         
                                <button type="button" class="btn btn-success btn-block m-t-xs" ng-click="register()">Submit</button>
                                <p class="text-center m-t-xs text-sm">Already have an account?</p>
                                <a href="#login" class="btn btn-default btn-block m-t-xs">Login</a>
                        </div>
                    </div>
                </div><!-- Row -->
            </div><!-- Main Wrapper -->
        </div><!-- Page Inner -->
    </main><!-- Page Content -->